---
import Layout from "../layouts/Layout.astro";
import Selector from "../components/Selector.astro";
import InputNumber from "../components/InputNumber.astro";
import "../styles/index.css";
---

<Layout title="Conversor Web">
  <div class="calculator">
    <Selector />
    <InputNumber />
    <p id="resultado">Conversion: 0</p>
    <button>Convertir</button>
  </div>
</Layout>
