---
import "../styles/header.css";
---

<header>
  <img src="/logo.svg" alt="Logo de Vimione" width="50px" height="auto" />
  <h1>Conversor</h1>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/Over1185/conversor-web" target="_blank"
          >Github</a>
      </li>
      <li><a href="mailto:goku9348@gmail.com">Contacto</a></li>
      <li><a href="/en/">EN</a></li>
    </ul>
  </nav>
</header>
