---

---

<datalist id="numerosComunes">
  <option value="1024"></option>
  <option value="2048"></option>
  <option value="3072"></option>
  <option value="4096"></option>
  <option value="5120"></option>
  <option value="6144"></option>
  <option value="7168"></option>
  <option value="8192"></option>
  <option value="8192"></option>
  <option value="9216"></option>
</datalist>
<input
  type="number"
  id="number1"
  placeholder="Cantidad"
  min="0"
  max="9999999"
  value="0"
  step="1024"
  list="numerosComunes"
/>
<style>
  input {
    width: 75%;
    text-align: center;
    cursor: pointer;
    height: 40px;
    outline: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
