---

---

<p>
  <select>
    <option>Byte</option>
    <option>Kilobyte</option>
    <option>Megabyte</option>
    <option>Gigabyte</option>
    <option>Terabyte</option>
  </select>
  <img src="/arrows.svg" alt="Icon Arrows" width="32" height="auto" />
  <select>
    <option>Byte</option>
    <option>Kilobyte</option>
    <option>Megabyte</option>
    <option>Gigabyte</option>
    <option>Terabyte</option>
  </select>
</p>

<style>
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  select {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
</style>
