---

---

<p>
  <select>
    <option>Byte</option>
    <option>Kilobyte</option>
    <option>Megabyte</option>
    <option>Gigabyte</option>
    <option>Terabyte</option>
  </select>
  <img src="/arrows.svg" alt="Icon Arrows" width="32" height="auto" />
  <select>
    <option>Byte</option>
    <option>Kilobyte</option>
    <option>Megabyte</option>
    <option>Gigabyte</option>
    <option>Terabyte</option>
  </select>
</p>

<style>
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
</style>
